<%= form_for(@stadium, html: {role: 'form', class: 'form-horizontal'}) do |f| %>
    <% if @stadium.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@stadium.errors.count, "error") %> prohibited this stadium from being saved:</h2>

          <ul>
            <% @stadium.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="frontGame" style="display: box">
      <div class="panel panel-default">
        <div class="match_body">


          <div class="form-group">
            <%= f.label 'Stadium Name', class: 'col-sm-4 control-label' %>
            <div class="col-sm-6">
              <%= f.text_field :name, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group" data-action="cities">
            <%= f.label 'City', class: 'col-sm-4 control-label' %>
            <div class="col-sm-6">
              <%= f.collection_select :city_id, @cities, :id, :name, {prompt: true}, {class: 'form-control'} %>
            </div>
            <div class="col-sm-2">
              <%= render '/layouts/formicons' %>
            </div>
            <div class="col-sm-12 load"></div>
          </div>

          <div class="form-group">
            <%= f.label 'Capacity', class: 'col-sm-4 control-label' %>
            <div class="col-sm-6">
              <%= f.number_field :capacity, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group submit">
            <div class="btn btn-success btn-large submitBtn" data-controller="stadia">Update</div>
          </div>


        </div>
      </div>
    </div>


<% end %>
