<%= form_for(@team, html: {role: 'form', class: 'form-horizontal'}) do |f| %>
    <% if @team.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

          <ul>
            <% @team.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="frontGame" style="display: box">
      <div class="panel panel-default">
        <div class="match_body">

          <div class="form-group">
            <%= f.label 'Team Name', class: 'col-sm-4 control-label' %>
            <div class="col-sm-6">
              <%= f.text_field :name, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label 'Short Name', class: 'col-sm-4 control-label' %>
            <div class="col-sm-6">
              <%= f.text_field :short, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group" data-action="stadia">
            <%= f.label 'Stadium', class: 'col-sm-4 control-label' %>
            <div class="col-sm-6">
              <%= f.collection_select :stadium_id, @stadiums, :id, :name, {prompt: true}, {class: 'form-control'} %>
            </div>
            <div class="col-sm-2">
              <%= render '/layouts/formicons' %>
            </div>
            <div class="col-sm-12 load"></div>
          </div>

          <div class="form-group">
            <%= f.label 'National Team', class: 'col-sm-4 control-label' %>
            <div class="col-sm-6">
              <%= f.check_box :national, value: @team.national, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label 'Team rating', class: 'col-sm-4 control-label' %>
            <div class="col-sm-6">
              <%= f.number_field :rating, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group submit">

            <div class="btn btn-success btn-large submitBtn" data-controller="teams">Update</div>

            <%#= f.submit class: 'btn btn-success btn-large', value: 'Update' %>
          </div>


        </div>
      </div>
    </div>

<% end %>
