<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {role: 'form', method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, placeholder: 'Your email', class: 'form-control input-lg' %>
  </div>

  <div class="form-group">
    <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary btn-large' %>
  </div>
<% end %>

<div class="user_links">
  <%= render "devise/shared/links" %>
</div>