<section class="alt extra-space top" style="background-color:rgba(0, 44, 22, 0.80);">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <div class="jumbotron">
          <h2>Edit Profile:</h2>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="matchSection" class="alt extra-space">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-1 column">
      </div>
      <div class="col-md-9 column">


        <div class="frontGame" style="display: box">
          <div class="panel panel-default">
            <div class="match_body">

              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f| %>
    <%= devise_error_messages! %>
                  <br/>

                  <div>
                    <%= f.label :email %>:
      <br/>
                    <%= f.text_field :email, :autofocus => true, class: "form-control input-lg" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>



    <div>
      <%= f.label :password %>: <br/><i>(leave blank if you don't want to change it)</i><br/>
      <%= f.password_field :password, :autocomplete => "off", :class => "form-control input-lg" %>
    </div>

    <div>
      <%= f.label :password_confirmation %>:
      <br/>
      <%= f.password_field :password_confirmation, :class => "form-control input-lg" %>
    </div>

    <div>
      <%= f.label :current_password %>:<br/> <i>(we need your current password to confirm your changes)</i><br/>
      <%= f.password_field :current_password, :class => "form-control input-lg" %>
    </div>
                  <br/>

                  <div>
                    <%= f.submit "Update", class: "btn btn-primary btn-lg" %>
                  </div>
                  <br/>
              <% end %>


            </div>
          </div>
        </div>

      </div>
      <div class="col-md-1 column"></div>
    </div>
  </div>
</section>