<%= form_for(@match, html: {role: 'form', class: 'form-horizontal'}) do |f| %>
    <% if @match.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

          <ul>
            <% @match.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="frontGame" style="display: box">
      <div class="panel panel-default">
        <div class="match_body">

          <div class="form-group" data-action="teams">
            <%= f.label 'First Team', class: 'col-sm-4 control-label' %>
            <div class="col-sm-6">
              <%= f.collection_select :team_a_id, @teams, :id, :name, {prompt: true}, {class: 'form-control'} %>
            </div>
            <div class="col-sm-2">
              <%= render '/layouts/formicons' %>
            </div>
            <div class="col-sm-12 load"></div>
          </div>

          <div class="form-group" data-action="teams">
            <%= f.label 'Visitors Team', class: 'col-sm-4 control-label' %>
            <div class="col-sm-6">
              <%= f.collection_select :team_b_id, @teams, :id, :name, {prompt: true}, {class: 'form-control'} %>
            </div>
            <div class="col-sm-2">
              <%= render '/layouts/formicons' %>
            </div>
            <div class="col-sm-12 load"></div>

          </div>

          <div class="form-group" data-action="stadia">
            <%= f.label 'Stadium', class: 'col-sm-4 control-label' %>
            <div class="col-sm-6">


              <%= f.collection_select :stadium_id, @stadiums, :id, :name, {prompt: true}, {class: 'form-control'} %>
            </div>
            <div class="col-sm-2">
              <%= render '/layouts/formicons' %>
            </div>
            <div class="col-sm-12 load"></div>

          </div>

          <div class="form-group" data-action="tournaments">
            <%= f.label 'Tournament', class: 'col-sm-4 control-label' %>
            <div class="col-sm-6">
              <%= f.collection_select :tournament_id, @tournaments, :id, :name, {prompt: true}, {class: 'form-control'} %>
            </div>
            <div class="col-sm-2">
              <%= render '/layouts/formicons' %>
            </div>
            <div class="col-sm-12 load"></div>

          </div>

          <div class="form-group" data-action="stages">
            <%= f.label 'Stage', class: 'col-sm-4 control-label' %>
            <div class="col-sm-6">
              <%= f.collection_select :stage_id, @stage, :id, :name, {prompt: true}, {class: 'form-control'} %>
            </div>
            <div class="col-sm-2">
              <%= render '/layouts/formicons' %>
            </div>
            <div class="col-sm-12 load"></div>


          </div>

          <div class="form-group">
            <%= f.label 'Date', class: 'col-sm-4 control-label' %>
            <div class="col-sm-7">
              <%= f.datetime_select :date, class: 'form-control' %>
            </div>
            <div class="col-sm-1"></div>

          </div>

          <div class="form-group">
            <%= f.label 'TimeZone', class: 'col-sm-4 control-label' %>
            <div class="col-sm-7">
              <%= f.collection_select :timezone_id, @timezone, :id, :name, {prompt: true}, {class: 'form-control'} %>
            </div>
            <div class="col-sm-1"></div>

          </div>

          <div class="form-group">
            <%= f.label 'Penalties', class: 'col-sm-4 control-label' %>
            <div class="col-sm-7">
              <%= f.check_box :pens, value: @match.pens, class: 'form-control' %>
            </div>
            <div class="col-sm-1"></div>

          </div>


          <div class="panel panel-default coefficients">

            <div class="row clearfix">
              <div class="col-md-4 column">
                <div class="form-group">
                  <%= f.label 'Home', class: 'control-label' %>

                  <%= f.text_field :coof_a, value: @match.coof_a, class: 'form-control' %>

                </div>
              </div>
              <div class="col-md-4 column">
                <div class="form-group">
                  <%= f.label 'Draw', class: ' control-label' %>

                  <%= f.text_field :coof_x, value: @match.coof_x, class: 'form-control' %>

                </div>
              </div>
              <div class="col-md-4 column">
                <div class="form-group">
                  <%= f.label 'Visitor', class: 'control-label' %>

                  <%= f.text_field :coof_b, value: @match.coof_b, class: 'form-control' %>

                </div>
              </div>
            </div>
          </div>


          <div class="form-group submit">
            <%= f.submit class: 'btn btn-success btn-large', value: 'Update' %>
          </div>


          <div class="panel panel-default buttons">
            <div class="row clearfix">
              <div class="col-md-3 column">
                <%= link_to 'All Matches', '/matches', class: 'btn btn-primary btn-large new' %>
              </div>
              <div class="col-md-3 column">
                <%= link_to 'View Match', "/matches/#{@match[:id]}", class: 'btn btn-primary btn-large new' %>
              </div>
              <% if can? :create, Match %>
                  <div class="col-md-3 column">
                    <%= link_to 'Real Scores', "score", class: 'btn btn-primary btn-large new' %>
                  </div>
              <% end %>
              <% if can? :delete, Match %>
                  <div class="col-md-3 column">
                    <%= link_to 'Destroy', @match, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-large new' %>
                  </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
<% end %>
<div id="loadForm"></div>
