<%= form_for(@match) do |f| %>
    <% if @match.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>
          <ul>
            <% @match.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>



    <div class="frontGame" style="display: box">
      <div class="panel panel-default">
        <div class="match_body">

          <div class="teams">
            <div class="team_a">
              <div class="team_name short"><%= @match.team_a.short %></div>
              <div class="team_name long"><%= @match.team_a.name %></div>
            </div>
            <div class="vs">vs.</div>
            <div class="team_b">
              <div class="team_name short"><%= @match.team_b.short %></div>
              <div class="team_name long"><%= @match.team_b.name %></div>
            </div>
          </div>


          <div class="scores">
            <div class="team_a">
              <div class="">
                <%= f.number_field :goals_a, value: @match.goals_a, class: 'goals_form' %>
                <%= f.number_field :pens_a, value: @match.pens_a, class: 'goals_form' if @match.pens %>
              </div>
            </div>
            <div class="vs"><%= "(pens)" if @match.pens %></div>
            <div class="team_b">
              <div class="">
                <%= f.number_field :goals_b, value: @match.goals_b, class: 'goals_form' %>
                <%= f.number_field :pens_b, value: @match.pens_b, class: 'goals_form' if @match.pens %>
              </div>
            </div>
          </div>

          <div class="form-group submit">
            <%= f.submit class: 'btn btn-success btn-large', value: 'Update' %>
          </div>

          <div class="panel panel-default tCoefficients">
            <div class="panel-heading coofTitle">Match Coefficients</div>
            <table class="table standings">
              <tbody>
              <tr>
                <td class="tCoof"><%= @match.coof_a ? @match.coof_a : '?' %></td>
                <td class="tCoof"><%= @match.coof_x ? @match.coof_x : '?' %></td>
                <td class="tCoof"><%= @match.coof_b ? @match.coof_b : '?' %></td>
              </tr>
              </tbody>
            </table>
          </div>


          <div class="info-row">
            <div>Tournament: <%= @match.tournament.name %>, <%= @match.stage.name %></div>
          </div>

          <div class="info-row">
            <div><%= @match.stadium.name %>, <%= @match.stadium.city.name %> (<%= @match.stadium.city.country.code %>)
            </div>
          </div>

          <div class="info-row">
            <div><%= @match.date.to_s(:game) %> (<%= @match.date.strftime("%Z") %> time)</div>
          </div>
          <% if @match.pens %>
              <div class="info-row">
                <div>Game may go into penalties</div>
              </div>
          <% end %>

          <div class="panel panel-default buttons">
            <div class="row clearfix">
              <div class="col-md-3 column">
                <%= link_to 'All Matches', '/matches', class: 'btn btn-primary btn-large new' %>
              </div>
              <div class="col-md-3 column">
                <%= link_to 'View Match', "/matches/#{@match[:id]}", class: 'btn btn-primary btn-large new' %>
              </div>
              <% if can? :create, Match %>
                  <div class="col-md-3 column">
                    <%= link_to 'Edit Match', edit_match_path(@match), class: 'btn btn-primary btn-large new' %>
                  </div>
              <% end %>
              <% if can? :delete, Match %>
                  <div class="col-md-3 column">
                    <%= link_to 'Destroy', @match, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-large new' %>
                  </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
<% end %>
