<section class="alt extra-space top" style="background-color:rgba(0, 44, 22, 0.80);">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <div class="jumbotron">
          <h2>All matches:</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="matchSection" class="alt extra-space">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-1 column">
      </div>
      <div class="col-md-10 column">


        <% provide(:title, 'Matches') %>


        <%= will_paginate @matches, outer_window: 0, class: 'shortPagination pagination', page_links: false %>
        <%= will_paginate @matches, class: 'pagination longPagination' %>


        <% @matches.each do |match| %>


            <%
               matchTime = Time.current - match.date

               if match.date > Time.current
                 local_time = distance_of_time_in_words(Time.current, match.date) + ' left'
               elsif matchTime > 0 and matchTime < 7200
                 local_time = 'Match is in progress'
               else
                 local_time = 'Match is over'
               end

               my_guess = Guess.where(match_id: match.id, user_id: current_user.id).limit(1).count != 0
            %>
            <div class="frontGame" style="display: box">
              <div class="panel panel-default">
                <div class="panel-heading gameTitle">
                  <div class="match_num">Match #<%= match.id %>.</div>
                  <div class="match_date"><%= local_time %></div>
                </div>
                <div class="match_body">
                  <% if matchTime > -86400 and matchTime < 0 and !my_guess %>
                      <div class="msg smaller alert-danger">There are <%= local_time %> before the kick-off. Please
                        submit your
                        scores soon.
                      </div>
                  <% else %>
                      <div class="msg smaller"></div>
                  <% end %>
                  <div class="teams">
                    <div class="host">
                      <div class="team_name short"><%= match.host.short %></div>
                      <div class="team_name long"><%= match.host.name %></div>
                    </div>
                    <div class="vs">vs.</div>
                    <div class="visitor">
                      <div class="team_name short"><%= match.visitor.short %></div>
                      <div class="team_name long"><%= match.visitor.name %></div>
                    </div>
                  </div>
                  <div class="scores">
                    <div class="host">
                      <div class="team_score"><%= match.goals_a ? match.goals_a : '' %><%= '('+match.pens_a.to_s+')' if match.pens_a %></div>
                    </div>
                    <div class="vs"></div>
                    <div class="visitor">
                      <div class="team_score"><%= match.goals_b ? match.goals_b : '' %><%= '('+match.pens_b.to_s+')' if match.pens_b %></div>
                    </div>
                  </div>
                  <div class="row clearfix">
                    <div class="col-md-8 column">
                      <div class="info-row">
                        <div><%= match.tournament.short %>, <%= match.stage.name %></div>
                      </div>
                      <div class="info-row">
                        <div><%= match[:date].to_s(:game) %>
                          <span class="mobile">(<%= match[:date].strftime("%Z") %> time)</span></div>
                      </div>
                      <div class="info-row">
                        <div><%= match.stadium.name %>
                          <span class="mobile">(<%= match.stadium.city.name %>, <%= match.stadium.city.country.code %>
                            )</span></div>
                      </div>
                    </div>
                    <div class="col-md-4 column">
                      <% if can? :read, match %>
                          <div class="match_link">
                            <%= link_to 'Show', match, class: 'btn btn-primary btn-large' %>
                          </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>


        <% end %>

        <%= will_paginate @matches, outer_window: 0, class: 'shortPagination pagination', page_links: false %>
        <%= will_paginate @matches, class: 'pagination longPagination' %>


        <br/>
      </div>
      <div class="col-md-1 column">
      </div>
    </div>
  </div>
</section>