<section class="alt extra-space top" style="background-color:rgba(0, 44, 22, 0.80);">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <div class="jumbotron">
          <h2>Latest News</h2>

          <p><span>[2nd May] </span>The website is using new interface.</p>

          <p><span>[1st May] </span>John has joined our tournament</p>

          <p><span>[30th Apr] </span>Mike has scored 3 points in 4 games in a row!</p>

          <p><span>[29th Apr] </span>Server will be down for a maintanance next week.</p>

          <p><span>[29th May] </span>New matches have been added</p>

          <p><a class="btn btn-primary btn-large" href="#">More news</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="matchSection" class="alt extra-space">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-6 column">
        <div class="frontGame" style="display: box">
          <div class="panel panel-default">
            <div class="panel-heading gameTitle">Last Game</div>
            <div class="match_body">
              <div class="teams">
                <div class="team_a">
                  <div class="team_name short"><%= @lastMatch[:short_a] %></div>
                  <div class="team_name long"><%= @lastMatch[:team_a] %></div>
                </div>
                <div class="vs">vs.</div>
                <div class="team_b">
                  <div class="team_name short"><%= @lastMatch[:short_b] %></div>
                  <div class="team_name long"><%= @lastMatch[:team_b] %></div>
                </div>
              </div>
              <div class="scores">
                <div class="team_a">
                  <div class="team_score"><%= @lastMatch[:score_a] %></div>
                </div>
                <div class="vs"><%= @lastMatch[:pens] %></div>
                <div class="team_b">
                  <div class="team_score"><%= @lastMatch[:score_b] %></div>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-md-8 column">
                  <div class="info-row">
                    <div><%= @lastMatch[:tournament] %></div>
                  </div>
                  <div class="info-row">
                    <div><%= @lastMatch[:date] %></div>
                  </div>
                  <div class="info-row">
                    <div><%= @lastMatch[:location] %></div>
                  </div>
                </div>
                <div class="col-md-4 column">
                  <div class="matchLinks">
                    <%= link_to 'View details »', "matches/#{@lastMatch[:id]}", class: 'btn' %>
                    <%= link_to 'All matches »', "matches", class: 'btn' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 column">
        <div class="frontGame" style="display: box">
          <div class="panel panel-default">
            <div class="panel-heading gameTitle">Next Game</div>
            <div class="match_body">
              <div class="teams">
                <div class="team_a">
                  <div class="team_name short"><%= @nextMatch[:short_a] %></div>
                  <div class="team_name long"><%= @nextMatch[:team_a] %></div>
                </div>
                <div class="vs">vs.</div>
                <div class="team_b">
                  <div class="team_name short"><%= @nextMatch[:short_b] %></div>
                  <div class="team_name long"><%= @nextMatch[:team_b] %></div>
                </div>
              </div>
              <div class="scores">
                <div class="team_a">
                  <div class="team_score"><%= @nextMatch[:score_a] ? @nextMatch[:score_a] : '?' %></div>
                </div>
                <div class="vs"><%= @lastMatch[:pens] %></div>
                <div class="team_b">
                  <div class="team_score"><%= @nextMatch[:score_b] ? @nextMatch[:score_b] : '?' %></div>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-md-8 column">
                  <div class="info-row">
                    <div><%= @nextMatch[:tournament] %></div>
                  </div>
                  <div class="info-row">
                    <div><%= @nextMatch[:date] %></div>
                  </div>
                  <div class="info-row">
                    <div><%= @nextMatch[:location] %></div>
                  </div>
                </div>
                <div class="col-md-4 column">
                  <div class="matchLinks">
                    <%= link_to 'View details »', "matches/#{@nextMatch[:id]}", class: 'btn' %>
                    <%= link_to 'All matches »', "matches", class: 'btn' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="statsSection" class="alt extra-space">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-6 column">
        <div class="user_guesses" style="display: box">
          <div class="panel panel-default">
            <div class="panel-heading gameTitle">User Standings</div>
            <table class="table standings">
              <thead>
              <tr>
                <th class="tNum">#</th>
                <th class="tUser">User</th>
                <th class="tGames">Games</th>
                <th class="tPoints">Points</th>
              </tr>
              </thead>
              <tbody>

              <% @standings.each do |s| %>
                  <tr>
                    <td class="tNum"><%= s[:id] %></td>
                    <td class="tUser"><%= s[:user] %></td>
                    <td class="tGames"><%= s[:games] %></td>
                    <td class="tPoints"><%= s[:points] %></td>
                  </tr>
              <% end %>
              </tbody>
              <thead>
              <tr>
                <td colspan="4"><a class="btn" href="#">View details »</a></td>
              </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6 column">
        <div class="user_guesses" style="display: box">
          <div class="panel panel-default">
            <div class="panel-heading gameTitle">Message Board</div>
            <table class="table standings">
              <tbody>
              <tr>
                <td class="tMessage">I came pretty close in Manchester United game. If Rooney scored in the last minutes
                  I would get 3 points.
                  <div>[Mike. 2 May, 18:01]</div>
                </td>
              </tr>
              <tr>
                <td class="tMessage">Sheffield Wednesday is about to smash Nottingham Forrest. I hope put the right
                  score.
                  <div>[Mario. 2 May, 13:01]</div>
                </td>
              </tr>
              <tr>
                <td class="tMessage">I missed last two games... Still I wouldn't guess the correct score. Who knew?
                  <div>[Sam. 2 May, 12:24]</div>
                </td>
              </tr>
              <tr>
                <td colspan="4"><a class="btn" href="#">View details »</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>